h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto Slab', sans-serif;
}
*{
    font-family: 'Roboto', sans-serif;
}

.bg-darker{
    background-color: rgba(24, 24, 24, 1);
}
span{
    cursor: pointer;
}
.loading {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    animation: pulse 1.5s infinite;
  }
  
  @keyframes pulse {
    0% { opacity: 0.09; }
    50% { opacity: 0.2; }
    100% { opacity: 0.09; }
  }
  